
nav {
  span {
    color: azure;
  }
}

.cell {
  aspect-ratio: 1/1;
  position: relative;

  background-size: 100%;
  z-index: 0;
  span {
    background-size: cover;
    position: absolute;
    inset: 0;
  }

  &.title {
    font-size: var(--size-medium);
    overflow-x: visible;
  }
}



.btn-reset {
  border: none;
  background: transparent;
  background-size: contain;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inherit;
}

.btn {
  width: 50%;
  height: 50%;
  margin: 25% auto auto;
}

.btn-size {
  font-size: 4em;
  flex: 1;
  display: block;
  color: white;
}

[class*="flex"] {
  display: flex;
}
.flex-row {
  flex-direction: row;
}

.orange {
  background: orange !important;
}

.blue {
 background: blue !important;
}
