
nav {
  span {
    color: azure;
  }
}

.cell {
  aspect-ratio: 1/1;
  position: relative;

  background-size: 100%;
  z-index: 0;
  span {
    background-size: cover;
    position: absolute;
    inset: 0;
  }

  &.title {
    font-size: var(--size-medium);
    overflow-x: visible;
  }
}



.btn-reset {
  border: none;
  background: transparent;
  background-size: contain;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn {
  width: 50%;
  height: 50%;
  margin: 25% auto auto;
}

.btn-size {
  font-size: calc(var(--cell-size) / 2);
  text-align: center;
  flex: 1;
  max-width: 50%;;
  flex-grow: 1;
  margin: 5px;
  // display: block;
  color: white;
}

[class*="flex"] {
  display: flex;
}
.flex-row {
  flex-direction: row;
  align-items: center;
}

.orange {
  background: orange !important;
}

.blue {
 background: blue !important;
}
