.game-menu {
  box-shadow: 0 0 1em 1em rgb(0 0 0 / .9);
  position: absolute;
  inset: 0;
  inset-block: var(--cell-size);
  margin: auto;
  z-index: 10000;
  background: rgb(0 0 0 / .9);
  color: azure;
  max-height: 100dvh;
  overflow-y: auto;
  p, h1 {
    color: azure;
  }
}