.game-menu {
  box-shadow: 0 0 1em 1em rgb(0 0 0 / .9);
  position: absolute;
  inset: 0;
  inset-block: var(--cell-size);
  margin: auto;
  z-index: 10000;
  background: rgb(0 0 0 / .9);
  color: azure;
  max-height: 100dvh;
  overflow-y: auto;
  p, h1 {
    color: azure;
  }

  &::-webkit-scrollbar {
    width: .5em;

    &-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: .5em;
    }
  } 
}