:root {
  --size-xsmall: calc(100dvmin / 32);
  --size-small: calc(100dvmin / 24);
  --size-medium: calc(100dvmin / 16);
  --size-large: calc(100dvmin / 8);
  --body-bg: #2c3e50;
}

*, *::after, *::before {
  box-sizing: border-box;
}

svg {
  margin: -1px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-bg);
  background: linear-gradient(to right, var(--body-bg), #34495e);
  touch-action: manipulation;
}

#root {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
