@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@mixin button-outline($color, $color2: $color) {
  background-color: transparent;//#233140;
  color: $color;
  padding-block: .5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border: 1px solid $color;
  position: relative;

  &:hover, &:focus {
    background: $color;
    color: black;
  }
}

.main-menu {
  width: clamp(10em, 100%, 80vmax);
  padding: .5em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);

  &__title {
    font-size: 10vw;
    font-size: 10dvw;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
  }

  &__button {
    @include button-outline(#a29bfe, #6c5ce7);
    font-size: max(2em, 2vh);
    font-size: max(2em, 2dvh);
    margin-block: .3em;
    width: 100%;
    text-decoration: none !important;

    @media (orientation: landscape) {
      // If there are 6 buttons make first wider
      &:first-child:nth-last-child(6) {
        grid-column: 1 / 3;
      }

      &:last-child {
        grid-column: 1 / 3;
        place-self: center;
        width: 50%;
      }

      & {
        padding: .25vmax;
        padding: .25dvmax;
        margin-block: .5vmax;
        margin-block: .5dvmax;
      }

      &s {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5em;
      }
    }

    @media (orientation: portrait) {
       &s {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      @media screen and (max-width: 350px) {
        & {
          padding: 0;
          margin-block: 0;
        }
      }
    }

    &:hover, &:focus {
      @media (prefers-reduced-motion: no-preference) and
             (min-width: 450px)                      and
             (orientation: portrait) {
        letter-spacing: 5px;
      }
    }
  }
}