@use 'MainMenu' as *;

.map-picker {
  width: calc(100dvmin - 2em);
  grid-template-columns: repeat(min(4, var(--own-map-count)), auto);

  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(min(3, var(--own-map-count)), auto);
  }

  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(min(2, var(--own-map-count)), auto);
  }

  &__no-maps .button {
    @include button-outline(#a29bfe, #6c5ce7);

    padding-inline: 1em;
    text-decoration: none;
    margin-inline-start: 1em;
  }

  &-map &-map-buttons {
    display: none;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    inset: 0;
    z-index: 9999999;
    background: rgb(0 0 0 / .5);

    button {
      @include button-outline(#a29bfe, #6c5ce7);
      padding-block: min(5%, 4em);
      width: 30%;

      &:last-child {
        width: 10%;
        padding-block: 1em;
      }
    }
  }

  &-map:is(:hover, :focus) &-map-buttons {
    display: flex;
  }
}