@use 'MainMenu' as *;

.map-picker {
  scroll-margin-inline: 1em;

  scrollbar-color: darkgrey rgba(0, 0, 0, 0.3);

  &::-webkit-scrollbar {
    width: .5em;

    &-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

      &-piece {
        background-color: black;
      }
    }

    &-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
      border-radius: .5em;
    }
  }

  &-header {
    &, & * {
      color: white;
      font-size: var(--size-medium);
      text-decoration: none;
      fill: white;
      text-align: center;
    }

    & > * { flex: 1 1 0; }

    a { &:hover, &:focus { text-decoration: underline; } }

    svg {
      width: 10%;
      margin-inline-end: .25rem;
    }

    justify-content: center;
    align-items: center;
    width: 100%;
  }

  width: calc(100vmin - 2em);
  width: calc(100dvmin - 2em);
  grid-template-columns: repeat(min(3, var(--own-map-count)), auto);

  @media screen and (max-width: 670px) {
    grid-template-columns: repeat(min(2, var(--own-map-count)), auto);
  }

  @media screen and (max-width: 550px), (orientation: landscape)  {
    grid-template-columns: repeat(min(1, var(--own-map-count)), auto);
  }

  &__no-maps .button {
    @include button-outline(#a29bfe, #6c5ce7);

    padding-inline: 1em;
    text-decoration: none;
    margin-inline-start: 1em;
  }

  &-map &-map-buttons {
    display: none;
    position: absolute;
    grid-template-areas: "play delete" "edit delete";
    justify-content: center;
    gap: 5%;
    inset: 0;
    z-index: 9999999;
    background: rgb(0 0 0 / .5);
    container-type: inline-size;

    button {
      @include button-outline(#a29bfe, #6c5ce7);
      width: 5em;
      font-size: 3cqh;

      &:first-child {
        grid-area: play;
        align-self: end;
      }

      &:nth-child(2) {
        align-self: start;
        grid-area: edit;
      }

      &:last-child {
        align-self: center;
        grid-area: delete;
        font-size: 2cqh;
      }
    }
  }

  &-map:is(:hover, :focus) &-map-buttons {
    display: grid;
  }
}