@use 'MainMenu' as *;

.win-alert {
  $textColor: #a29bfe;

  --win-alert-bg: rgb(0 0 0 / .7);
  position: absolute;
  inset: var(--cell-size) 0;
  z-index: 99999;
  background: var(--win-alert-bg);
  color: $textColor;
  box-shadow: 0 0 1em 1em var(--win-alert-bg);
  display: flex;
  flex-direction: column;
  padding-inline: .5em;

  &__title {
    font-size: calc(var(--cell-size) / 1.5);
    text-align: center;
    margin: calc(var(--cell-size) / 8) 0;
    padding: 0;
    font-weight: bold;
  }

  &__text {
    color: lighten($textColor, 10%);
    text-align: center;
    padding-inline: calc(var(--cell-size) / 8);
    font-size: calc(var(--cell-size) / 4);
  }

  &__buttons {
    margin-block: auto calc(var(--cell-size) / 2);
    display: flex;
    gap: 1em;
    justify-content: space-around;

    button {
      @include button-outline($textColor);
      padding: calc(var(--cell-size) / 4) calc(var(--cell-size) / 2);
      font-size: calc(var(--cell-size) / 4);
    }
  }
}