@use 'MainMenu' as *;

.win-alert {
  $textColor: #a29bfe;

  --win-alert-bg: rgb(0 0 0 / .7);
  position: absolute;
  inset: var(--cell-size) 0;
  z-index: 99999;
  background: var(--win-alert-bg);
  color: $textColor;
  box-shadow: 0 0 1em 1em var(--win-alert-bg);
  display: flex;
  flex-direction: column;
  padding-inline: .5em;

  &__title {
    font-size: var(--size-large);
    text-align: center;
    margin: 0 0 var(--size-xsmall);
    padding: 0;
    font-weight: bold;
  }

  &__text {
    color: lighten($textColor, 10%);
    text-align: center;
    padding-inline: var(--size-small);
    font-size: var(--size-small);
  }

  &__buttons {
    margin-block: auto var(--size-xsmall);
    display: flex;
    gap: 1em;
    justify-content: space-around;

    button {
      @include button-outline($textColor);
      padding: var(--size-xsmall) var(--size-small);
      font-size: var(--size-medium);
    }
  }
}