
nav {
  span {
    color: azure;
  }
}

.cell {
  aspect-ratio: 1/1;
  position: relative;
  background-size: cover;
  z-index: 0;
  span {
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

.credits {
  position: absolute;
  inset: 0;
  inset-block: var(--cell-size);
  margin: auto;
  z-index: 10000;
  background: rgb(0 0 0 / .9);
  p, h1 {
    color: azure;
    //font-size: 0.5rem;
  }
}